<div>
    <div class="xp-block">
        <p>{{message}}</p>
    </div>

    <div class="recipients-block">
        Recipients:
        <ul class="recipient-list">
            {{#each actors}}
                <li>{{name}}</li>
            {{/each}}
        </ul>
    </div>
</div>
